/* .App {
  background-color: #ffffff;
  opacity: 0.2;
  background-image: radial-gradient(#000000 1.75px, transparent 1.75px),
    radial-gradient(#000000 1.75px, #ffffff 1.75px);
  background-size: 70px 70px;
  background-position: 0 0, 35px 35px;
  height: 100vh;
} */
